<nav class="tabbar">
  <a href="index.html" class="tabbar-tab" data-page="index">
    <img src="assets/icons/home.svg" alt="홈" class="tabbar-icon" />
    <span class="tabbar-label">홈</span>
  </a>
  <a href="community.html" class="tabbar-tab" data-page="community">
    <img src="assets/icons/community.svg" alt="커뮤니티" class="tabbar-icon" />
    <span class="tabbar-label">커뮤니티</span>
  </a>
  <a href="explore.html" class="tabbar-tab" data-page="explore">
    <img src="assets/icons/explore.svg" alt="탐색" class="tabbar-icon" />
    <span class="tabbar-label">탐색</span>
  </a>
  <a href="store.html" class="tabbar-tab" data-page="store">
    <img src="assets/icons/store.svg" alt="스토어" class="tabbar-icon" />
    <span class="tabbar-label">스토어</span>
  </a>
  <a
    href="mypage_reader.html"
    class="tabbar-tab"
    id="mypage-link"
    data-page="mypage_reader"
  >
    <img src="assets/icons/mypage.svg" alt="마이페이지" class="tabbar-icon" />
    <span class="tabbar-label">마이페이지</span>
  </a>
</nav>
