# macOS system file
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VSCode settings
.vscode/

# 환경파일
.env

# 가상환경
venv/
.env/

pandas/00_PANDASPLOTLY_FUNCODING_FIRSTDATA/COVID-19-master/csse_covid_19_data/
