<nav class="tabbar-nav">
    <a href="#" class="tab-item active" data-page="feed">
        <i class="fa-solid fa-house"></i>
        <span>피드</span>
    </a>
    <a href="#" class="tab-item" data-page="explore">
        <i class="fa-solid fa-compass"></i>
        <span>탐색</span>
    </a>
    <a href="#" class="tab-item" data-page="store">
        <i class="fa-solid fa-store"></i>
        <span>스토어</span>
    </a>
    <a href="#" class="tab-item" data-page="mypage_reader">
        <i class="fa-solid fa-user"></i>
        <span>마이페이지</span>
    </a>
</nav>